/*Page Setup*/

body {
    background-color: #F0512C;
    margin: 0;
}

h1 {
  font-family: 'Lato','Helvetica Neue', 'Arial';
  font-size: 32px;
  font-weight: 300;
  color: #fff;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 1.4em;
}

p {
  font-family: 'Lato','Helvetica Neue', 'Arial';
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
    max-width: 1140px;
    margin: 15% 4% 15% 4%;
    display: flex;
    flex-wrap: wrap-reverse;
}

/*Image*/

.phone-img-container {
    display: flex;
    margin: auto;
    margin-top: 14%;
}

#phoneImg {
    height: 70%;
}


/*Call to Action*/

.call-to-action {
    flex-basis: 90%;
    margin: auto;
}


/*Call to Action --- Benefits*/

.benefits {
  margin-bottom: 2.6em;
}

.benefit {
  display: flex;
  align-items: center;
  margin-bottom: 1.6em;
}

.benefit p {
  font-size: 16px;
  font-weight: 400;
  color: #562106;
}

.benefit img {
  width: 9px;
  padding: 10px 9px;
}

.circle {
  border-radius: 50%;
  background-color: #FF6541;
  display: inline-block;
  margin-right: 1.4em;
}

/*Call to Action --- Sign Up*/

.sign-up {
  margin-top: 20px;
  display: none;
}

.sign-up input {
  flex-basis: 62%;
  font-size: 13px;
  font-weight: 300;
  border-radius: 2px;
  border: 1px solid #f5f6fa;
  overflow: hidden;
  text-overflow: inherit;
  white-space: nowrap;
  padding: 18px 12px;
  margin-right: 1.4em;
}

.sign-up .button {
  flex-basis: 28%;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  border: 1px solid rgba(153, 51, 0, 0.4);
  background-color: #FF6541;
  padding: 18px 12px;
}

/*Call to Action --- App Stores*/

.divider {
  height: 1px;
  background-color: rgba(153, 51, 0, 0.4);
  margin-top: 2.4em;
}

.app-stores {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin-top: 14%;
  margin-bottom: 6%;
}

#apple {
  flex-basis: 100%;
  padding-left: 12%;
  padding-right: 12%;
  margin-bottom: 4%;
}

#google {
  flex-basis: 100%;
  padding-left: 12%;
  padding-right: 12%;
  margin-bottom: 4%;
}

#google img {
  width: 100%;
}

#apple img {
  width: 100%;
}

/*MEDIA QUERIES*/

/*add media query between 765 and 482px*/

@media (max-width: 1028px) and (min-width: 482px) {

  /*Image*/

  #phoneImg {
    height: 60%;
  }

  /*Call to action - App stores*/

  #apple {
    flex-basis: 50%;
  }

  #google {
    flex-basis: 50%;
  }

}

@media (min-width: 481px) {

  /*Page Setup*/

  h1 {
    font-weight: 100;
  }

  .container {
  }

  .sign-up {
    display: flex;
  }

  /*Image*/

  .phone-img-container {
    flex-basis: 40%;
    margin-top: 0;
  }

  #phoneImg {
    margin: auto;
  }


  /*Call to Action*/

  .call-to-action {
      flex-basis: 50%;
  }

  /*Call to Action --- App Stores*/

  .app-stores {
    flex-wrap: nowrap;;
    margin-top: 8%;
  }

  #apple {
    flex-basis: 36%;
    padding-left: 0;
    padding-right: 3%;
  }

  #google {
    flex-basis: 36%;
    padding-left: 0%;
    padding-right: 0%;
    margin-bottom: 4%;
  }

  .divider-bottom {
    display: none;
  }

}
